/public_html/application/cache_db
/public_html/application/config/config_payments.php
/public_html/application/config/social_config.php
/public_html/application/config/social.php
/public_html/application/config/wtf_bridge_config.php
/public_html/application/logs
/public_html/application/cache
/public_html/application/cache/statistic
/public_html/upload
/public_html/reklama
/public_html/robots.txt
/public_html/public
/public_html/pdf_
*.csv
/public_html/chat/cache
*.log
log-*.php
error_log*
/public_html/chat/plugins/filetransfer
/public_html/*.zip
/public_html/*.txt
*.dat
*core.*
